@use '../abstracts' as *;

// 아이콘 mixin 정의

.ico-more{
    @include icon(8px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-refresh{
    @include icon(14px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-calendar{
    @include icon(20px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-file{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-sel-file{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-analysis{
    @include icon(18px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-trash{
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-search.svg");
}
// 재생 아이콘
.ico-play {
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-search.svg");
}
.ico-processing{
    @include icon(17px);
    background-image: url("@/assets/images/icon/ico-search.svg");  
}
// 다운로드 아이콘
.ico-download {
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-search.svg");
}

.ico-whitedownload {
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-search.svg");
}

// 이미지 아이콘
.ico-image {
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-search.svg");
}

// 검색 아이콘
.ico-search {
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
    filter: brightness(200%);
}

// 클라우드 아이콘 (파일 업로드)
.ico-cloud {
    @include icon(34px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}

// 체크 아이콘
.ico-create {
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-data-save{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-blueadd{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-greendownload{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.ico-report{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.paging-arrow-next{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}
.paging-arrow-prev{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-search.svg');
}