<nav class="al-dash-tab" aria-label="작업 화면 메뉴">
    <div class="al-dash-tab__inner">
        <a class="al-dash-tab__item al-dash-tab__item--active" href="./03_단말등록_대시보드.html" aria-current="page">
            <span class="al-dash-tab__ico" aria-hidden="true">
                <img src="./assets/images/icon/ico-menu-dash-on.svg" alt="" />
            </span>
            <span class="al-dash-tab__label">대시보드</span>
        </a>
        <a class="al-dash-tab__item" href="#">
            <span class="al-dash-tab__ico" aria-hidden="true">
                <img src="./assets/images/icon/ico-menu-history.svg" alt="" />
            </span>
            <span class="al-dash-tab__label">작업이력</span>
        </a>
    </div>
</nav>
