
<link rel="stylesheet" href="./assets/fonts/pretendard.css">
<link rel="stylesheet" href="./lib/simplebar/simplebar.css">
<link rel="stylesheet" href="./lib/dragula/dragula.min.css">
<link rel="stylesheet" href="./lib/jQuery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="./lib/jQuery-ui/jquery-ui.theme.min.css">
<link rel="stylesheet" href="./lib/datetimepicker/jquery.datetimepicker.css">
<link rel="stylesheet" href="./lib/glightbox/glightbox.min.css">


<script src="./lib/jQuery/jquery-3.7.1.js"></script>
<script type="module" src="./js/page/index.js"></script>
<script src="./lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script src="./lib/jQuery-ui/jquery-ui.min.js"></script>
<script src="./lib/simplebar/simplebar.min.js"></script>
<script src="./lib/dragula/dragula.min.js"></script>
<script src="./lib/glightbox/glightbox.min.js"></script>
